.wrapper {
}

.container {
    margin: 0 auto;
    width: auto;
    padding: 0;
    max-width: 980px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.image {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    background-image: no-repeat center;
}

.avatar {
    position: absolute;
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #fff;
    bottom: 10px;
    left: 10px;
}
.icon-play {
    background: rgba(255, 150, 1, 0.75);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.7;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 15px solid transparent;
        border-left: 20px solid #fff;
        margin: -15px 0 0 -6px;
    }

    &:hover {
        transform: scale(1.7);
    }
}

.text {
    position: absolute;
    bottom: 10px;
    left: 280px;

    & h1 {
        margin: 0 0 8px;
        color: #fff;
        text-shadow: 0 2px 1px #333;
    }

    & h2 {
        font-size: 16px;
        margin: 0 0 10px;
        font-weight: 700;
        text-shadow: 0 2px 1px #333;
        color: #fff;
    }
}

.list-button li {
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.link {
    font-weight: 700;
    border-radius: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
}

.btn-infor {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;

    &:hover {
        background-color: rgba(91, 192, 222, 0.8);
    }
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

    &:hover {
        background-color: rgba(217, 83, 79, 0.8);
    }
}

.episodes{
    width: 100%;
    background: #282828;;
}
.list-episodes{
    display: flex;
}

.infor-text {
    background: #252525;
    padding: 10px;
    margin: 10px 0 0;
    margin: 10px 0;
    overflow: hidden;
}

.block-film {
    margin: 10px 0 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #3a3a3a;
}

.entry-meta li {
    color: #828282;
    width: 30%;
    float: left;
    margin: 0 3% 0 0;
    padding: 3px 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.entry-meta li label {
    color: #fff;
    font-size: 13px;
}

.entry-meta-red {
    font-weight: 700;
    color: red;
}

.entry-meta-item {
    margin-left: 2px;
    color: #828282;

    &:hover {
        color: var(--primary-color);
    }
}

.imdb {
    color: #000;
    padding: 3px;
    font-size: 12px;
    font-weight: 700;
    background: #e3b71e;
    border-radius: 3px;

    &:hover {
        color: #000;
    }
}

.block-note {
    margin: 10px 0 0;
    border: 1px solid #ff9601;
    background: #000;
    padding: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.heading-title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 1.1em;
    color: var(--primary-color);
}
.content-film {
    color: #828282;
    max-height: 500px;

    & b {
        margin-right: 5px;
    }
}

.tags-list {
    overflow: hidden;
    line-height: 1.5em;
    overflow-y: auto;
}

.tag-item {
    float: left;
    margin: 0 0.8em 0.8em 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    background: #353535;
    font-size: 1.4rem;
    border-radius: 2px;
    font-weight: 500;
    padding: 2px 4px;
    color: #828282;
    min-width: 0;

    &:hover {
        background: var(--primary-color);
        color: var(--white-color);
    }
}

.comment {
    background: #fff;
    padding: 5px;
    margin: 20px 0 0;
    border-radius: 3px;

    & h3 {
        font-weight: 700;
        font-size: 1.5em;
        color: var(--primary-color);
    }
}

.film-related {
    margin: 20px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #4c4c4c;
}
